## Ignore Visual Studio temporary files, build results, and user-specific settings.

# Build results
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb

# Visual Studio / User settings
.vs/
*.user
*.suo
*.userosettings
*.sln.docstates

# User-generated / Runtime files
[Dd]ownloads/
*.log
*.bak
*.tmp

# Dependencies (Nuget)
packages/
.nuget/
*.nupkg

# Code Crammer Specific
# Don't commit your personal message file
Code Crammer/Data/msg.txt
# Don't commit the result file if it saves in the root
_ProjectState.txt

# OS Metadata
thumbs.db
Desktop.ini
.DS_Store