<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Code_Crammer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Code_Crammer.Properties.Settings>
            <setting name="LastFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSessionStateJson" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeProjectStructure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeCodeFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeConfigFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeDesignerFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SquishDesignerFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeJsonFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeProjectFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeResourceFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SanitizeFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenFolderOnFinish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenFileAfterFinish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeFancyMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcludeMyProject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPerFileTokens" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DistillProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DistillUnused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DistillUnusedHeaders" serializeAs="String">
                <value>False</value>
            </setting>
        </Code_Crammer.Properties.Settings>
    </userSettings>
</configuration>